---
import postcss from "postcss";
import Main from "../layouts/main.astro";
import Podcast from "../components/Podcast.astro";

const url = 'https://dakukupeterside.com/articles/wp-json/wp/v2/posts?_embed&per_page=9'
// &page=1
const response = await fetch(url)
const posts: any[] = await response.json()

const ellp = posts[0].excerpt.rendered.replace('[&hellip;]', '&hellip;')

const categoriesUrl = 'https://dakukupeterside.com/articles/wp-json/wp/v2/categories'
const resp = await fetch(categoriesUrl)
const categories: any[] = await resp.json()

const getFirstCategory = (categories, postCategory) => {
    const category = categories.find(i => i.id === postCategory[0])
    return category ? category.name : ''
}

// https://developer.wordpress.org/rest-api/reference/posts/#update-a-post

---


<Main>
    <section class="heading-blog py-12 md:py-40 relative bg-[#00000090]">
        <div class="md:w-4/5 mx-auto px-10 md:px-0 md:flex justify-between">

            <div class="md:w-3/5 mx-auto flex flex-col justify-center item-start">
                <h2 class="text-5xl text-center font-semibold text-white uppercase">DAP Blog</h2>
                <p class="text-2xl text-center text-gray-300 leading-8 py-3">Pennings and Musing by Dakuku Peterside</p>
            </div>
        </div>
  
    </section>

    <section class="py-10 md:py-20 relative">
        <div class="md:w-4/5 mx-4 md:mx-auto flex flex-wrap wrap gap-x-8">
            { posts?.map((post) => (
                <div class="md:w-[calc(100%/3-4rem/3)] mb-12">
                    <!-- calc allows for gap-x -->
                    <div class="h-[250px] overflow-hidden rounded">
                        
                        <img src={post._embedded['wp:featuredmedia'] && post._embedded['wp:featuredmedia']['0'].source_url} alt="" class="">
                        
                    </div>
                    <div class="flex justify-between bg-brandred text-white my-2 p-2 rounded">
                        <div class="category flex items-center gap-x-2">
                            <span class="">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 01-2.25 2.25M16.5 7.5V18a2.25 2.25 0 002.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 002.25 2.25h13.5M6 7.5h3v3H6v-3z" />
                                </svg>
                            </span>
                            <span>{ getFirstCategory(categories, post.categories) }</span>
                        </div>
                        <div class="duration">5 mins Read</div>
                    </div>
                    <a href={post.link} class="group">
                        <div class="mb-2 h-[60px] group-hover:underline group-hover:text-brandred">
                            <h2 class="text-2xl">{post.title.rendered}</h2>
                        
                        </div>
                        <p class="text-base" set:html={post.excerpt.rendered}></p>
                    </a>
                    <div class="flex justify-between ring-1 ring-brandred mt-2 p-2 rounded">
                        <div class="flex items-center gap-x-2">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                                </svg>
                                
                            </span>
                            <span>{post._embedded.author[0].name}</span>
                        </div>
                        <div class="flex items-center gap-x-2">
                            <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                            </svg>
                            </span>
                            {
                                new Date(post.date).toLocaleDateString('default', {month: 'short',year: 'numeric',day: 'numeric'})
                            }
                        </div>
                    </div>

                </div>
            ))}

        </div>
    </section>
            
</Main>