---
import Podcast from "../components/Podcast.astro";
import Main from "../layouts/main.astro";

---


<Main>
    <section class="heading-contacts py-10 md:py-40 relative bg-[#00000090]">
        <div class="md:w-4/5 mx-auto px-10 md:px-0 md:flex justify-between">

            <div class="md:w-3/5 mx-auto flex flex-col justify-center item-start">
                <h2 class="text-4xl text-center font-semibold text-white uppercase">Get in touch with DAP</h2>
                <p class="text-xl text-center text-gray-300 leading-8 py-3">For consultations, enquiries, engagement and solicitation.</p>
            </div>
        </div>
  
    </section>

    <section class="py-10 md:py-20 relative">
        <div class="md:w-3/5 mx-4 md:mx-auto">     

			<h3 class="text-2xl font-semibold text-black text-center uppercase">Request My Presence</h3>
            <div class="flex flex-wrap gap-x-8 my-8">
                
                <input type="text" class="form-input w-full md:w-[calc(50%-1rem)] my-3 py-4 text-lg rounded-md border-brandred shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" placeholder="First Name">
                <input type="text" class="form-input w-full md:w-[calc(50%-1rem)] my-3 py-4 text-lg rounded-md border-brandred shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" placeholder="Last Name">
                <input type="text" class="form-input w-full md:w-[calc(50%-1rem)] my-3 py-4 text-lg rounded-md border-brandred shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" placeholder="Phone Number">
                <input type="text" class="form-input w-full md:w-[calc(50%-1rem)] my-3 py-4 text-lg rounded-md border-brandred shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50" placeholder="Email Address">
          

                <textarea name="" class="form-textarea w-full md:h-[250px] my-3 py-4 text-lg rounded-md border-brandred shadow-sm focus:border-red-300 focus:ring focus:ring-red-200 focus:ring-opacity-50">Message</textarea>

                <div class="flex justify-center w-full my-4">
				  <button class="w-full bg-brandred text-lg text-white font-semibold  py-4 rounded uppercase hover:bg-transparent hover:text-brandred hover:ring-brandred hover:ring-1 hover:transition">Send</button>
				</div>
                    
            </div>
        </div>
    </section>

</Main>