---
// Layouts imports
import Main from '../layouts/main.astro';
// Component Imports
import Button from '../components/Button.astro';
import Podcast from '../components/Podcast.astro';
import SnappyScroll from '../components/SnappyScroll.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
    
---


<Main title="Dakuku Adol Peterside | Home">

	<!-- <Button>Tailwind Button in Astro!</Button>
	<a href="/markdown-page" class="p-4 underline">Markdown is also supported...</a> -->

    <section class="pt-10 md:py-20 relative">
        <div class="md:w-4/5 mx-auto md:px-0 md:flex justify-between">

          <div class="md:w-1/3 px-10 flex flex-col justify-center items-start mr-2">
            <h3 class="text-2xl font-semibold uppercase font-semibold">Dakuku PETERSIDE</h3>
            <h1 class="text-4xl/[2rem] md:text-5xl/[3rem] font-bold text-brandred">THE <br> TURNAROUND EXPERT</h1>
            <p class="text-base py-3">DAP is passionate about helping people realize their optimal leadership potential, translating vision to concrete and amazing results.</p>
            <a href="/about" class="p-2 rounded ring-1 ring-brandred text-sm text-brandred hover:bg-brandred hover:text-white transition">More about DAP <span aria-hidden="true">&rarr;</span></a>
          </div>
  
          <div class="hero-images overflow-auto md:overflow-visible md:w-2/3 flex gap-4 h-[300px] md:h-[500px] mt-8 md:mt-0">

            <div class="slimview rounded-lg md:rounded-lg flex-shrink-0">
                <img src="images/dap-1.jpg" alt="" class="">
                <div class="absolute bottom-0 right-0 text-white font-semibold leading-6 font-spacing uppercase tracking-wider">Political Strategist</div>
            </div>

            <div class="wideview rounded-lg md:rounded-lg flex-shrink-0">
                <img src="images/dap-2.jpg" alt="" class="">
                <div class="absolute bottom-0 right-0 text-white font-semibold leading-6 font-spacing uppercase tracking-wider">Leadership Coach</div>
            </div>
            <div class="slimview rounded-lg md:rounded-lg flex-shrink-0">
                <img src="images/dap-3.jpg" alt="" class="">
                <div class="absolute bottom-0 right-0 text-white font-semibold leading-6 font-spacing uppercase tracking-wider">Leadership Coach</div>
            </div>
            
          </div>
        </div>
            
      </section>

      <div class="flex justify-center py-10 md:py-0">
        <img src="images/arrow-down.png" alt="" class="hidden md:block animate-bounce">
      </div>

      <!-- 
        section - change img, pt-0

        background-image: url(/images/dap-lean-back2.jpg);
        background-position: top;
        background-size: contain!important;

            div w-1/2 - pt-0
                h2 - add py 2rem
                p - add mt 1rem
       -->

      <section class="md:py-20 md:my-10 meetdap">
        <div class="">
            <div class="lg:w-1/2 lg:ml-[10%]">
                <div class="h-wpr">
                    <h2 class="w-4/5 lg:w-full mx-auto text-4xl py-12 md:py-0 font-semibold text-white">Meet<span class="text-brandred uppercase font-bold">Dakuku</span></h2>
                </div>
                <div class="w-4/5 lg:w-full mx-auto pt-4 lg:pt-0">
                    <p class="text-base md:text-xl text-gray-900 md:text-white lg:leading-8 pb-6 md:pt-4">As a people-driven leader, DAP is passionate about helping people realize their optimal leadership potential, translating vision to concrete and amazing results. Spent 20 years in public sector serving at all levels and two arms of government in Nigeria with outstanding results that is acknowledged nationally and globally. Over these years he has developed unique understanding of public sector in developing countries and have helped organizations and individuals navigate the terrain and turn...</p>

                    <div class="md:flex">
                        <a href="/about" class="bg-brandred text-sm text-white font-semibold leading-6 px-3 py-2 md:px-5 md:py-2 rounded uppercase hover:bg-transparent hover:text-brandred hover:ring-brandred hover:ring-1 hover:transition">Diary of Dakuku <span aria-hidden="true">&rarr;</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
      </section>

      <!-- old version -->
      <!-- <section class="py-10 md:py-30 md:my-10 meetdap">
        <div class="w-4/5 mx-auto bg-gray-900/20 lg:bg-transparent">
            <div class="lg:w-1/2 p-2">
                <h2 class="text-4xl font-semibold text-white">Meet<span class="text-brandred uppercase font-bold">Dakuku</span></h2>
                <p class="text-base text-gray-100 lg:leading-8 py-4">As a people-driven leader, DAP is passionate about helping people realize their optimal leadership potential, translating vision to concrete and amazing results. Spent 20 years in public sector serving at all levels and two arms of government in Nigeria with outstanding results that is acknowledged nationally and globally. Over these years he has developed unique understanding of public sector in developing countries and have helped organizations and individuals navigate the terrain and turn...</p>

                <div class="md:flex">
                    <a href="/about" class="bg-brandred text-sm text-white font-semibold leading-6 px-3 py-2 md:px-5 md:py-2 rounded uppercase hover:bg-transparent hover:text-brandred hover:ring-brandred hover:ring-1 hover:transition">Diary of Dakuku <span aria-hidden="true">&rarr;</span>
                    </a>
                </div>
            </div>
        </div>
      </section> -->


    <section class="py-10 featured-on">
        <div class="w-4/5 mx-auto">
            <h3 class="text-xl lg:text-2xl font-semibold uppercase text-center text-brandred tracking-wider">As featured on</h3>
            <div class="flex justify-between border-y py-8 my-8">
                <a href="https://guardian.ng/news/its-time-to-rebuild-rivers-apc-says-dakuku-peterside/" target="_blank" class="w-1/4 grayscale flex justify-center items-center hover:bg-gray-200 transition duration-300 ease-in-out px-3 py-1">
                    <img src="./images/guardian-logo.png" alt="" class="">
                </a>
                <a href="https://youtu.be/UTSnumyNVCE?t=96" target="_blank" class="w-1/4 grayscale flex justify-center items-center hover:bg-gray-200 transition duration-300 ease-in-out px-3 py-1">
                    <img src="./images/arise-news-logo.png" alt="" class="">
                </a>
                <a href="#" class="w-1/4 grayscale flex justify-center items-center hover:bg-gray-200 transition duration-300 ease-in-out px-3 py-1">
                    <img src="./images/financial-times-logo.png" alt="" class="">
                </a>
                <a href="https://www.vanguardngr.com/2021/10/nigeria-61-realities-aspirations-and-way-forward/" target="_blank" class="w-1/4 grayscale flex justify-center items-center hover:bg-gray-200 transition duration-300 ease-in-out px-3 py-1">
                    <!-- <img src="./images/vanguard-logo.png" alt="" class=""> -->
                    <svg class="max-w-full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" baseProfile="tiny" id="Layer_1" x="0px" y="0px" viewBox="0 0 546 118" overflow="visible" xml:space="preserve">
                        <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                            <path fill="#FF0000" d="M0,1141c0-5,53-160,119-343c65-183,130-370,145-416l28-82h119h120l18,43c10,23,105,210,210,416   s191,378,191,383c0,4-48,8-107,8H735l-55-118c-30-64-100-211-155-325L424,498L322,812c-56,173-102,320-102,326c0,9-32,12-110,12   C48,1150,0,1146,0,1141z"/>
                            <path fill="#FF0000" d="M5260,1053v-98h-123c-112-1-127-3-183-29c-104-47-168-134-194-261c-25-120,12-252,88-315   c96-79,257-81,357-4l35,26v-36v-36h89h89l6,103c3,56,10,219,16,362s14,288,17,322l6,63h-102h-101V1053z M5229,813c23-6,23-7,16-106   c-9-127-28-192-69-233c-43-43-91-52-148-26c-56,24-78,67-78,149c0,68,24,125,68,166C5065,808,5163,831,5229,813z"/>
                            <path fill="#FF0000" d="M1044,945c-114-20-111-18-118-86c-4-34-5-63-3-65c2-3,40,5,83,17c104,29,214,31,243,5c52-47,11-83-136-120   c-177-45-238-81-269-162c-15-39-15-53-5-96c25-108,88-148,235-148c117,0,119,1,137,71c9,33,12,62,8,65c-4,2-28-1-53-7   c-90-22-164,18-138,76c14,30,45,46,141,75c40,12,80,24,89,27c13,5,14-9,8-113c-4-65-10-134-13-151l-5-33h101h101v68   c0,37,5,155,12,262c10,177,10,198-5,230c-21,43-67,76-127,89C1270,963,1131,961,1044,945z"/>
                            <path fill="#FF0000" d="M1854,946c-23-7-58-26-78-41l-36-27l6,31l7,31h-100h-100l-7-157c-6-134-20-363-29-453l-2-25l101-3l101-3   l7,153c10,237,33,300,122,334c42,16,50,16,87,3c83-29,88-50,74-326l-8-163h99h100l7,245c4,135,5,259,1,276c-9,45-42,87-89,111   C2064,959,1917,967,1854,946z"/>
                            <path fill="#FF0000" d="M2530,949c-114-22-220-111-261-217c-26-68-31-193-10-264c17-58,70-122,125-150c52-27,159-35,221-18   c25,7,64,26,87,42l41,30l-8-59c-10-80-28-119-67-142c-62-38-110-37-330,6l-27,5l6-73c3-41,10-77,16-80c17-12,181-29,272-29   c112,0,192,22,243,66c66,56,73,88,83,354c5,129,13,295,19,369c6,73,9,136,6,138c-2,2-44,11-92,19C2757,961,2601,963,2530,949z    M2713,809l38-10l-6-82c-13-173-39-236-109-268c-51-23-71-23-122,0c-52,24-74,68-74,148c1,101,54,181,141,208   C2635,822,2664,823,2713,809z"/>
                            <path fill="#FF0000" d="M3874,945c-114-20-111-18-118-86c-4-34-5-63-3-65c2-3,40,5,83,17c104,29,214,31,243,5c52-47,11-83-136-120   c-177-45-238-81-269-162c-15-39-15-53-5-96c25-108,88-148,235-148c117,0,119,1,137,71c9,33,12,62,8,65c-4,2-28-1-53-7   c-90-22-164,18-138,76c14,30,45,46,141,75c40,12,80,24,89,27c13,5,14-9,8-113c-4-65-10-134-13-151l-5-33h101h101v68   c0,37,5,155,12,262c10,177,10,198-5,230c-21,43-67,76-127,89C4100,963,3961,961,3874,945z"/>
                            <path fill="#FF0000" d="M4641,950c-13-6-36-19-52-31l-29-20v20c0,20-6,21-93,21h-94l-6-237c-4-131-10-275-13-320l-7-83h100h101   l4,183c5,193,11,223,55,269c38,40,86,53,134,38c22-7,41-11,44-9c2,3,1,43-3,89l-7,85l-55,2C4690,958,4654,955,4641,950z"/>
                            <path fill="#FF0000" d="M3006,888c-3-29-8-145-12-258c-6-179-5-210,10-237c38-74,127-109,255-100c79,5,127,22,168,60l22,20l-6-37   l-6-36h96h95l6,92c8,143,26,500,26,526c0,21-3,22-95,22c-69,0-95-3-95-12c-1-7-5-87-10-177c-10-178-26-234-81-274   c-38-27-97-32-139-10c-60,31-65,53-51,242c6,91,11,181,11,199v32h-94h-94L3006,888z"/>
                        </g>
                        </svg>
                </a>
            </div>
        </div>
    </section>

    <section class="dap-personalities">
        <h3 class="text-xl lg:text-2xl font-semibold text-brandred uppercase text-center mb-12">One Man, Many Personalities</h3>

        <!-- <div class="md:w-3/5 mx-auto flex gap-x-2 md:gap-x-4"> -->
        <SnappyScroll />

    </section>

    <section class="py-10 dap-strategic-book">
        <div class="w-4/5 mx-auto md:flex gap-x-8">
            <div class="w-full">
                <img src="images/strategic-turnaround-book.png" alt="strategic-turnaround-book" class="animate-pulse">
            </div>
            <div class="w-full flex flex-col justify-center items-start md:mx-12">
                <h3 class="text-xl lg:text-2xl font-semibold uppercase leading-6">STORY OF A GOVERNMENT AGENCY</h3>
                <h2 class="text-3xl lg:text-4xl text-brandred uppercase my-2 font-bold leading-8">Strategic Turnaround</h2>
                <p class="text-base pb-2">"Strategic Turnaround is the definitive case study of the radical reform of the Nigerian Maritime Administration and Safety Agency (NIMASA), and of the entire maritime sector in Nigeria. But this story of how strategic change was initiated, instigated and successfully managed has relevance far outside Nigeria. Given Nigeria's size and NIMASA's importance, it is a key case study in successful high-level change management, and also an essential insight into the maritime sector of an emerging maritime power."</p>
                <p class="font-semibold leading-4 italic">Chris Bellamy, <br> Professor Emeritus of Maritime Security University of Greenwich</p>
                <div class="mt-6">
                    <a href="https://www.amazon.com/Strategic-Turnaround-Story-Government-Agency/dp/9785800881" target="_blank" class="bg-brandred text-sm text-white font-semibold leading-6 px-3 py-2 md:px-5 md:py-2 mr-2 my-4 rounded uppercase hover:bg-transparent hover:text-brandred hover:ring-brandred hover:ring-1 hover:transition">Buy on Amazon <span aria-hidden="true">&rarr;</span>
                    </a>
                    <a href="https://guardian.ng/art/in-strategic-turnaround-peterside-harps-on-due-diligence/" target="_blank" class="hover:bg-brandred text-sm hover:text-white font-semibold leading-6 px-3 py-2 md:px-5 md:py-2 mr-2 my-4 rounded uppercase text-brandred ring-brandred ring-1 hover:transition">Book Review <span aria-hidden="true">&rarr;</span>
                    </a>
                    
                </div>
            </div>
        </div>
    </section>

    <Podcast/>

    <section class="py-10 md:py-40 dap-video">
        <div class="w-4/5 mx-auto">
            <h3 class="text-xl lg:text-2xl font-semibold text-brandred text-center uppercase mb-8">DAP through the lens</h3>
            <div class="video md:w-3/4 mx-auto h-[200px] md:h-[400px] flex justify-center items-center bg-[var(--brandred)] rounded-3xl">
                <a href="https://www.youtube.com/watch?v=1oHy0nbldEY" target="_blank" title="Watch video" class="h-[50px] transition hover:h-[65px] hover:transition duration-300">
                    <img src="images/video-icon.png" alt="" class="h-full">
                </a>
                
            </div>
        </div>
    </section>

	<script>
		// Hover function
        function resizeOnHover () {
            const heroImages = document.querySelectorAll('.hero-images  > div')
            heroImages.forEach((el, index, els) => {
                el.addEventListener('mouseenter', (e) => {
                    els.forEach(d => {
                        d.classList.remove('wideview')
                        d.classList.add('slimview')
                    })
                    
                    e.target.classList.add('duration-500')
                    e.target.classList.add('transition-all')
                    e.target.classList.add('wideview')
                    e.target.classList.remove('slimview')
                })
                
                // el.addEventListener('mouseleave', (e) => {})
                
            })
        }


        const smallDevice = window.matchMedia("(min-width: 768px)");
        if(smallDevice.matches){
            resizeOnHover()
        } else {
            console.log('no resize on hover');
        }
        // smallDevice.addListener(handleDeviceChange);

        // function handleDeviceChange(e) {
        // if (e.matches){

        // }
        // }

	</script>
</Main>