<section class="py-10 md:py-20 mb-1 dap-podcast">
    <!-- <div class="w-4/5 mx-auto">
        <div class="">
            <h3 class="text-xl lg:text-2xl font-semibold text-brandred uppercase">Listen Now</h3>
            <h2 class="text-3xl lg:text-4xl text-brandred font-bold uppercase leading-8">Diary of Dakuku</h2>
            <div class="flex gap-x-8 mt-8">
                <a href="#" class="text-base font-semibold hover:font-bold">
                    <img src="images/spotify-icon.png" alt="" class="rounded-full border-1 border-white p-1 bg-white hover:bg-transparent inline h-[40px] md:h-[50px]">
                    <p class="hidden md:block">Spotify</p>
                </a>
                <a href="#" class="text-base font-semibold hover:font-bold">
                    <img src="images/Podcasts_iOS.png" alt="" class="rounded-full border-1 border-white p-1 bg-white hover:bg-transparent inline h-[40px] md:h-[50px]">
                    <p class="hidden md:block">Apple Podcast</p>
                </a>
                <a href="#" class="text-base font-semibold hover:font-bold">
                    <img src="images/Google_Podcasts_icon.png" alt="" class="rounded-full border-1 border-white p-1 bg-white hover:bg-transparent inline h-[40px] md:h-[50px]">
                    <p class="hidden md:block">Google Podcast</p>
                </a>
            </div>
        </div>
    </div> -->

    <h3 class="text-xl lg:text-2xl font-semibold text-white text-center uppercase">DAP on live TV</h3>

    <div class="w-4/5 mx-auto py-20 flex justify-center gap-x-6">
        <div class="rounded-lg overflow-hidden">
            <iframe src="https://youtube.com/embed/UTSnumyNVCE"
   width="560" height="315" allowfullscreen></iframe>
        </div>
        <div class="rounded-lg overflow-hidden">
            <iframe src="https://youtube.com/embed/aUxoolkSzR8"
   width="560" height="315" allowfullscreen></iframe>
        </div>
        <div class="rounded-lg overflow-hidden">
            <iframe src="https://youtube.com/embed/5gAUvBXQtB0"
   width="560" height="315" allowfullscreen></iframe>
        </div>

        
    </div>
    <div class="text-center">
        <a href="#" target="_blank" class="hover:bg-white text-sm hover:text-gray-900 font-semibold leading-6 px-4 py-3 md:px-6 md:py-4 rounded uppercase text-white ring-white ring-1 hover:transition">More Videos <span aria-hidden="true">&rarr;</span>
        </a>
        
    </div>
</section>

<style scoped>
    .dap-podcast {
        background-image: linear-gradient(to right, #000000dd, #000000dd), url('/images/dap-9.jpg');
    }
</style>