<section class="py-10 md:py-40 mb-[1px] dap-podcast">
    <div class="w-4/5 mx-auto">
        <div class="">
            <h3 class="text-xl lg:text-2xl font-semibold text-brandred uppercase">Listen Now</h3>
            <h2 class="text-3xl lg:text-4xl text-brandred font-bold uppercase leading-8">Diary of Dakuku</h2>
            <div class="flex gap-x-8 mt-8">
                <a href="#" class="text-base font-semibold hover:font-bold">
                    <img src="images/spotify-icon.png" alt="" class="inline h-[40px]">
                    <p>Spotify</p>
                </a>
                <a href="#" class="text-base font-semibold hover:font-bold">
                    <img src="images/Podcasts_iOS.png" alt="" class="inline h-[40px]">
                    <p>Apple Podcast</p>
                </a>
                <a href="#" class="text-base font-semibold hover:font-bold">
                    <img src="images/Google_Podcasts_icon.png" alt="" class="inline h-[40px]">
                    <p>Google Podcast</p>
                </a>
            </div>
        </div>
    </div>
</section>