
:root {
    --brandred: #B31F2D
}

/* Added to tw config */
body {
    background-color: #f8f8f8;
    /* font-family: 'Darker Grotesque', sans-serif; */
}

.meetdap {
    background-image: url('/images/dap-lean-back.jpg');
    background-position: center 35%;
}

.dap-podcast {
    background-image: url('/images/dap-8.jpg');
}

.dap-video .video {
    background-image: linear-gradient(to right, #00000057 100%, transparent), url('/images/dap-5.jpg');
    background-position-y: 20%;
}

.heading-about {
    background-image: linear-gradient(to right, #000000c8 100%, transparent), url('/images/dap-9.jpg');
}

.heading-blog {
    background-image: linear-gradient(to right, #000000c8 100%, transparent), url('/images/dap-blog-header.jpg');
}
.heading-contacts {
    background-image: linear-gradient(to right, #000000c8 100%, transparent), url('/images/dap-11.jpeg');
    background-position-y: 20%;
}

.heading-gallery{
    background-image: linear-gradient(to right, #000000c8 100%, transparent), url('/images/dap-12.jpg');
    background-position-y: 30%;
}
.meetdap,
.dap-podcast,
.dap-video .video,
.heading-about,
.heading-blog,
.heading-contacts,
.heading-gallery {
    background-repeat: no-repeat;
    background-size: cover;
}

.wideview {
    width: 50%;
    position: relative;
    overflow: hidden;
    background: var(--brandred)
}

.wideview > div {
    left: 0;
    background-color: var(--brandred);
    font-size: 1.5rem;
    padding: 0.75rem;
    text-align: right;
}

.slimview {
    width: 25%;
    position: relative;
    overflow-x: hidden;
}

.slimview img {
    height: 100%;
    margin-left: -50%;
    max-width: initial;
}

.slimview > div {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    transform-origin: bottom left;
    rotate: -90deg;
    translate: 100% 0;
    text-shadow: 5px 5px 20px black;
}

.blog-truncate-body__ {
    overflow:hidden;
    max-height: calc(2.5 * 1); /* calc(line-height * the number of the line we want to ignore); */
    line-height: 2.5rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    display: box;
}

.scale20:hover {
    scale: 125%;
}